@model List<KidKinder.Entites.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">


                <div class="card">
                    <div class="card-header">
                        <h5>Mesaj Listesi Tablosu</h5>
                        <span>Mesaj ile ilgili işlemleri yapabileceğiniz alanlardır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Email</th>
                                        <th>Konu</th>
                                        <th>Mesaj</th>
                                        <th>Gönderi Tarihi</th>
                                        <th>Okundu Durumu</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ContactId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Email</td>
                                            <td>@item.Subject</td>
                                            <td>@item.Message</td>
                                            <td>@item.SendDate</td>
                                            <td>@item.IsRead</td>
                                            <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Contact/OpenMessageContact/@item.ContactId" class="btn btn-warning">Mesajı Aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

